

body{
    background-color: black;
    }

/* Banner and Navigation */
.logo{
    width: 160px;
}

nav{
    font-family: 'Anton';
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    margin: 35px;
}

nav ul li a{
    color:firebrick;
    font-size: 20PX;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    font-size: 30PX;

}

.banner{
    max-width: 100%;
    height: 1050px;;
    background-image: url('banner.png');
    background-size: cover;
}

/* End of Banner and Navigation */

/* Footer */
.email{
    color: firebrick;
    font-family: Arial, sans-serif;

}

/* End of Footer */


/* About */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.aboutus{
    background-color: firebrick; 
    color: white; 
    text-align: center;
    font-size: 50px;
    padding: 1px; 
}

.info{
    color: white;
}

/* End of About */